/java/bin
/java/MANIFEST.TXT
/doc/*~
/doc/#*#
/doc/*.log
/doc/*.blg
/doc/*.bbl
/doc/*.out
/doc/*.log
/doc/*.aux
/native/*.exe
/native/*.obj
/native/*.o
/native/*.pdb
/c/*.mex*
/c/*.exe
/c/*.obj
/c/*.o
/c/*.pdb
/c/*.mex*
/matlab/*.asv


