/java/bin
/java/MANIFEST.TXT
/userManual/*~
/userManual/#*#
/userManual/*.log
/userManual/*.blg
/userManual/*.bbl
/userManual/*.out
/userManual/*.log
/userManual/*.aux
/native/*.exe
/native/*.obj
/native/*.o
/native/*.pdb
/c/*.mex*
/c/*.exe
/c/*.obj
/c/*.o
/c/*.pdb
/c/*.mex*
/matlab/*.asv


